%h1 Top#index
%p Find me in app/views/top/index.html.haml

%p
	= link_to "article 1", article_path(1)
	
%p 
	= link_to 'result_test', result_show_path('show')
	
%p
	= link_to 'search', search_index_path