%h1 user attestation

%form{:action=> search_attestation_path(params[:queri]), :method => 'get'}
	%table
		%tr
			%td userid 
			%td
				%input{:type => 'textfield', :name=>'userid' }
		%tr
			%td password 
			%td
				%input{:type => 'password', :name=>'password' }	
		%tr
			%td
				%input{:type => 'submit', :name=>'send'}
	
%p= link_to "new user", search_newuser_form_path