%h1 Search

%form{:action=> search_result_path(params[:queri]), :method => 'get'}
	%input{:type => 'hidden', :name=>'uname', :value=>@uname}
	%input{:type => 'textfield', :name=>'queri' }
	%input{:type => 'submit', :name=>'send'}

%hr
%p= link_to "Sign in", search_attestation_form_path
%p= @uname

%hr 
%p 履歴	
-@record.each do |rec|
	%p= rec.queri
	

	
