%h1 Queri Ranking

%hr

-i=1
%table{:border => 'solid', :width => '300', :class => 'table table-striped table-bordered table-hover'}
	-@queris.each do |queri|
		%tr
			%td= i
			%td= queri[:queri]
			%td= queri[:freq]
				
			-i+=1

